/** Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

body {
  background-color: rgb(245, 163, 163);

  margin: 20px 20px;

  display: flex;
  flex-wrap: nowrap;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.body-content {
  background-color: rgb(162, 157, 230);

  height: 750px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.taskbar {
  background-color: rgb(237, 180, 121);

  width: 100%;
  min-height: 80px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

}

.icons-box {
  background-color: rgb(87, 160, 213);

  width: 20%;
  max-width: 225px;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon {
  margin: 2px;

  max-width: 30px;
  max-height: 30px;
}

.menu-box {
  background-color: rgb(81, 184, 95);

  width: 35%;
  min-width: 300px;
  max-width: 600px;
  height: 100%;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu-button {
  background-color: rgb(232, 166, 225);

  width: 25%;
  min-width: 90px;
  height: 60%;

  border-radius: 25px;
  border: 2px solid rgb(230, 125, 219);

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button:hover {
  background-color: rgb(255, 190, 248);
  border: 2px solid rgb(232, 166, 225);
}

.menu-button-text{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 105%;
}

.home-header {
  background-color: rgb(119, 231, 221);

  width: 100%;
  height: 300px;
}

.profile-pic{
  background-color: rgb(232, 166, 225);

  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 40%;
  height: 100%;
}

.picture-case{
  margin: 5px;
  margin-left: 4%;
}

.picture{
  border-radius: 50%;
  border: 3px solid rgb(255, 190, 248);

  max-height: 250px;
  max-width: 250px;
  width: 98%
}
