/** Fonts **/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz@8..144&display=swap');

body {
  background-color: rgb(236, 236, 236);

  margin: 20px 20px;

  display: flex;
  flex-wrap: nowrap;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    color: inherit;
}

.body-content {
  height: 750px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.taskbar {
  width: 100%;
  min-height: 80px;

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;

}

.icons-box {

  width: 20%;
  max-width: 225px;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.icon {
  margin: 2px;

  max-width: 30px;
  max-height: 30px;
}

.menu-box {

  width: 35%;
  min-width: 300px;
  max-width: 600px;
  height: 100%;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.menu-button {
  background-color: rgb(199, 197, 197);

  width: 25%;
  min-width: 90px;
  height: 60%;

  border-radius: 25px;
  border: 2px solid rgb(92, 92, 92);

  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-button:hover {
  background-color: rgb(255, 190, 248);
  border: 2px solid rgb(232, 166, 225);
}

.menu-button-text{
  font-family: 'Roboto Flex', sans-serif;
  font-size: 105%;
}

.home-header {

  width: 100%;
  max-height: 550px;
  min-height: 200px;

  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: center;

}

.profile-pic{
  display: flex;
  justify-content: center;
  align-items: center;

  max-width: 35%;
  height: 100%;
}

.picture-case{
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 1%;

  max-height: 90%;
  max-width: 100%;

}

.picture{
  border-radius: 50%;
  border: 4px solid rgb(92, 92, 92);


  width: 98%;
  max-width: 500px;
  max-height: 500px;

  margin-right: -10%;
}

.name-and-title{


  width: 70%;
  height: 100%;
  margin-left: 5%;
  padding-bottom: 4%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}

.name{
  height: 100%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.first{
  margin-left: -18%;
  min-height: 35%;
}

.last{
  margin-left: 20%;
  min-height: 45%;
}

.title{
  max-height: 20%;
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: row;
  flex-wrap: wrap;
}

.title-text{
  font-family: 'Roboto Flex', sans-serif;
  font-size: min(3.25vw,180%);
}

.bio {
  height: 200px;
  width: 100%;

}
